
.bg_img {
	background-image:url("2copy.jpg");
	background-size:cover;
	min-height:130px;

	
}
#wordimg{
	padding-left:800px;
	padding-top:20px;
}

#header{
	color:green;
	padding-left:30px;
	float:left;
	
}

h1{
	font-family:Ariendezze;
	letter-spacing:0.2cm;
	font-size:35px;
	
}

h2{
	font-family:Arbeka;
	letter-spacing:-0.005cm;
	padding-left:5px;
	line-height:2%;
}

body{
	margin:0;
	padding:0;
	background:white;
	/*background:#f2f3f4;*/
}

.menu{
	
	width:100%;
	background-color:#142b47;
	overflow:auto;
	opacity:0.6;

	
}
.menu ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:60px;
	
	
}
.menu li{
	float:left;
	
	
}
.menu ul li a{
	
	background:#142b47;
	text-decoration:none;
	width:200px;
	display:block;
	text-align:center;
	color:white;
	font-size:18px;
	letter-spacing:1.5px;
	padding-left:100px;
	position:relative;
	
}

/*.menu ul ul{
		display:none;
}

.menu ul li:hover > ul{
		display:block;
		}*/

.menu li a:hover{
	color: #fff;
	opacity:0.5;
	font-size:19px;
}

.lang{
	text-align:center;
	margin-top:15px;
	float:right;
	margin-right:100px;
	
}
select{
	letter-spacing:0.5px;
	padding:7px;
	border:none;
	font-size:17px;
	font-family:sans;
	background-color:#142b47;
	opacity:0.5px;
	color:white;
}

.headings h1{
	padding-top:10px;
	margin-left:150px;
	color:white;
	font-family:Barmeno;
	letter-spacing:0.05cm;
	font-size:28px;
	
	
}
.headings{
	width:100%;
	height:60px;
	background-color:#142b47;
	margin-top:10px;
}


/*#downlist{
	background:#142b47;
	text-decoration:none;
	width:200px;
	margin:0;
	padding:0;
	list-style:none;
}*/

body{
	margin:0;
	padding:0;
	background:#f2f3f4;
}

.register{
	float:left;
	background-color:white;
	margin-left:150px;
	padding-top:50px;
	padding:20px;
	font-size:18px;
	width:750px;
}

.reg legend{
	padding-top:10px;
	padding-bottom:20px;
	font-size:25px;
}

label{
	padding-top:7px;
	width:150px;
	vertical-align:top;
	display:inline-block;
}

.reg textarea{
	width:500px;
	display:inline-block;
	height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
	border: 3px solid #ccc;
	-webkit-transition: 0.8s;
}

.reg input[type=text],input[type=number],input[type=Email]{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
	-webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
}


input[type=text]:focus {
    border: 3px solid #555;
}
input[type=number]:focus{
	border:3px solid #555;
}
input[type=Email]:focus{
	border:3px solid #555;
}
textarea:focus{
	border:3px solid #555;
}

input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: 3px solid #ccc;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#type {
	float:left;
}
.check{
	
	width:600px;
	height:130px;
	float:left;
}

td{
	padding:5px;
}

.contact{
	width:800px;
	height:940px;
	background-color:white;
	float:left;
	
}

.cont legend{
	padding-top:30px;
	padding-bottom:20px;
	font-size:25px;
}
.cont img{
	
	width:780px;
	height:auto;
}

.contlist{
	
	padding-top:15px;
	float:left;
	
}
.contlist img{
	padding-left:80px;
	float:left;
	width:50px;
	height:50px;
}
.desc{
	margin-left:20px;
	font-size:13px;
	font-family:Calibri Light;
	padding:10px;
	float:left;
	width:200px;
	height:auto;
}

.topic h2{
	clear:both;
	padding-top:70px;
}

.rside{
	float:left;
	margin-top:40px;
}

.rside label{
	padding-top:7px;
	width:150px;
	vertical-align:top;
	display:inline-block;
}
.rside input[type=text],input[type=number],input[type=Email]{
    width: 250px;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
	-webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
}

.lside{
	float:left;
	width:500px;
	margin-top:40px;
	margin-left:50px;
}

.lside textarea{
	width:450px;
	display:inline-block;
	height: 280px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
	border: 3px solid #ccc;
	-webkit-transition: 0.8s;
}

/* raiting Phase */

.rate {
    float: left;
    height: 46px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}




#up{
	float:right;
	width:5px;
	height:10px;	
	margin-right:150px;
	padding-top:1000px;
}
	
#subfooter{
	background-color:#595959;
	color:#f0e9ee;
	text-align:center;
	clear:both;
	height:140px;
	padding:5px;
	font-family:LetterGothic,Calibri Light;
	font-size:18px;
	letter-spacing:0.05cm;
	line-height:35px;
	padding-right:250px;
}
	
#subfootimg{
	float:left;
	padding-top:30px;
	padding-left:15px;
}


